<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Doctive</title>
    <meta name="description" content="Doctive">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="/res/css/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/res/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/res/css/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/res/css/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/res/css/selectFX/css/cs-skin-elastic.css">

    <link rel="stylesheet" href="/res/css/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
</head>

<body>

<!-- Left Panel -->

<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/"><img src="images/logo.png" alt="Doctive"></a>
            <a class="navbar-brand hidden" href="./"><img src="images/logo2.png" alt="Logo"></a>
        </div>

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/doctorHome"> <i class="menu-icon fa fa-home"></i>Dashboard </a>
                </li>
                <h3 class="menu-title">Hospital Patients</h3><!-- /.menu-title -->

                <li>
                    <a href="/v1/doctor/viewAppointment"> <i class="menu-icon ti-bell"></i> View My Appointments </a>
                </li>
                <li>
                    <a href="/v1/doctor/view"> <i class="menu-icon ti-user"></i> View My Patients </a>
                </li>

                <!--------------------------------------- Behabit Segment --------------------------------------------->

                <h3 class="menu-title">Behabit</h3><!-- /.menu-title -->

                <li>
                    <a href="/v1/doctor/behabitUsers"> <i class="menu-icon ti-bar-chart"></i>List of Users </a>
                </li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside><!-- /#left-panel -->

<!-- Left Panel -->

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        {% for i in range(0,0) %}
                            <strong class="card-title">Medical History of {{ medHistory[i].name }} </strong>
                        {% endfor %}

                    </div>

                    <div class="card-body card-block">
                        <div class="card-body">
                            <br/>
                            <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                <thead>
                                <tr>

                                    <th>Visitation Dates</th>
                                    <th>Status</th>
                                    <th>Medical Card No.</th>
                                    <th>Doctor's Comments</th>
                                    <th>Prescription</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for i in range(0,i-1) %}
                                    <tr>
                                        <td>{{ medHistory[i].current_visit }}</td>
                                        <td>{{ medHistory[i].status }}</td>
                                        <td>{{ medHistory[i].medCardNo }}</td>
                                        <td>{{ medHistory[i].comment }}</td>
                                        <td>{{ medHistory[i].prescription }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>